/* src/features/todos/TodoList.css */
.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.todo-item.completed {
  opacity: 0.5;
  text-decoration: line-through;
}

.actions button {
  margin-left: 5px;
}